In [19]:
# importing libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

pd.set_option("expand_frame_repr", True)

In [20]:
# Load dataset
data = pd.read_csv(r"student_marks.csv")
print(data.head())

  Unnamed: 0 Gender        DOB  Maths  Physics  Chemistry  English  Biology  \
0       John      M      32267     55       45         56       87       21
1     Suresh      M      31872     75       55         70       64       90
2     Ramesh      M  25/5/1989     25       54         89       76       95
3    Jessica      F      33215     78       55         86       63       54
4   Jennifer      F      32548     58       96         78       46       96

   Economics  History  Civics
0         52       89      65
1         61       58       2
2         87       56      74
3         89       75      45
4         77       83      53

In [25]:
descriptions =data['Gender'] + ' ' + data['DOB'] + ' ' + data['Maths'].apply(str) + ' ' + data['Physics'].apply(str) + data['Chemistry'].apply(str) + ' ' + data['English'].apply(str) + ' ' + data['Biology'].apply(str) + ' ' + data['Economics'].apply(str) + ' ' + data['History'].apply(str) + ' ' + data['Civics'].apply(str)

# Printing the first description
print(descriptions[0])

M 32267 55 4556 87 21 52 89 65

In [26]:
def create_similarity_matrix(new_description, overall_descriptions):

  # Append the new description to the overall set.
  overall_descriptions.append(new_description)
  
  # Define a tfidf vectorizer and remove all stopwords.
  tfidf = TfidfVectorizer(stop_words="english")

  # Convert tfidf matrix by fitting and transforming the data.
  tfidf_matrix = tfidf.fit_transform(overall_descriptions)

  # Output the shape of the matrix.
  tfidf_matrix.shape

  # Calculating the cosine similarity matrix.
  cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)
  return cosine_sim

In [27]:
def get_recommendations(new_description,overall_descriptions):

  # create the similarity matrix
  cosine_sim = create_similarity_matrix(new_description,overall_descriptions)

  # Get pairwise similarity scores of all the students with new student.
  sim_scores = list(enumerate(cosine_sim[-1]))

  # Sort the descriptions based on similarity score.
  sim_scores = sorted(sim_scores,key =lambda x:x[1],reverse= True )

  # Get the scores of top 10 descriptions.
  sim_scores = sim_scores[1:10]
  
  # Get the student indices.
  indices = [i[0]for i in sim_scores]
  return data.iloc[indices]

In [28]:
new_description = pd.Series('M 32267 55 4556 87 21 52 89 65')
get_recommendations(new_description,descriptions)

,Unnamed: 0,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
1,Suresh,M,31872,75,55,70,64,90,61,58,2
0,John,M,32267,55,45,56,87,21,52,89,65
2,Ramesh,M,25/5/1989,25,54,89,76,95,87,56,74
3,Jessica,F,33215,78,55,86,63,54,89,75,45